{% extends "base.html.twig" %}

{% block title %}
    Blog Symfony | Détail de l'article
{% endblock %}

{% block body %}

<h1 class="text-center">Détails de l'article</h1>
 <div class="col-md-12">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm  position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">Featured post</h3>
                    <div class="mb-1 text-muted">Nov 12</div>
                    <p class="card-text mb-auto"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum suscipit ad tenetur impedit praesentium incidunt quo perferendis similique, veniam vitae sint, minima accusantium neque illum quasi voluptatem mollitia blanditiis perspiciatis distinctio delectus laudantium saepe recusandae. Reiciendis facere cum officia consequatur sed facilis, consectetur placeat temporibus dolorem tempora, fugiat, accusamus at modi voluptatibus. Temporibus veniam odit quidem adipisci? Tempora eos quod libero, corrupti, nam voluptatum nulla dicta earum consequatur quibusdam ex quisquam quia magnam eveniet sunt ducimus odit vero? Distinctio illum, rem quae officiis iure repellat voluptatem accusamus qui minima aliquid, eius sunt quia obcaecati fuga suscipit unde ipsum asperiores! Eum similique veritatis quo aperiam, veniam laudantium sint, dolorem blanditiis soluta, accusantium optio sapiente quidem repudiandae! Expedita eum labore molestias, facilis laborum quo aut nam, totam, animi repellendus sunt autem. Eos odio architecto aut distinctio. Error voluptas in est quaerat, sed quae corrupti porro doloremque quod reiciendis tenetur consequuntur quos nulla. Accusamus animi ipsum deleniti expedita maiores distinctio deserunt nam quo iure consectetur commodi quidem rerum dolorum sint id tenetur, incidunt quasi, totam dolore omnis? Commodi quaerat optio corporis, consectetur a recusandae itaque doloremque laudantium, aperiam aspernatur, ab vitae adipisci quas ipsum. Delectus quas commodi corrupti vitae cumque, excepturi sequi voluptates. This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <p class="mt-3">
                    <a href="#" class="btn btn-dark text-white col-2">Modifier</a>
                    <a href="#" class="btn btn-dark text-white col-2">Supprimer</a>
                    </p>

                </div>
                <div class="col-auto d-none d-lg-block">

                      <img src="https://picsum.photos/id/238/300/600" alt="">

                </div>
            </div>
        </div>
    
{% endblock %}