{% extends "base.html.twig" %}

{% block title %}
    Blog Symfony | Liste des articles
{% endblock %}

{% block body %}
    

    <div class="row mb-2">
        {% for data in articles %}
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{data.titre}}</strong>
                        <h3 class="mb-0">Featured post</h3>
                        <div class="mb-1 text-muted">{{data.date|date('d/m/Y')}}</div>
                        <p class="card-text mb-auto">{{data.contenu |slice(0,100)|striptags}}[...]<a href="#" class="stretched-link">Lire la suite</a></p>
                        
                    </div>
                    <div class="col-auto d-none d-lg-block">

                        <img src="https://picsum.photos/id/237/200/300" alt="">

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}